<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ReseauSocial</display-name>
  <filter>
  	<description>
  	</description>
  	<display-name>ConnectionUser</display-name>
  	<filter-name>ConnectionUser</filter-name>
  	<filter-class>fr.dawan.reseauSoc.filter.ConnectionUser</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>FollowersFilter</display-name>
  	<filter-name>FollowersFilter</filter-name>
  	<filter-class>fr.dawan.reseauSoc.filter.FollowersFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>NbrMessage</display-name>
  	<filter-name>NbrMessage</filter-name>
  	<filter-class>fr.dawan.reseauSoc.filter.NbrMessage</filter-class>
  </filter>

<!-- ********************MAPPING FILTER CONNECTION USER*************** -->
  <filter-mapping>
  	<filter-name>ConnectionUser</filter-name>
  	<url-pattern>/movie/add</url-pattern>
  	<url-pattern>/people/add</url-pattern>
  	<url-pattern>/like</url-pattern>
  	<url-pattern>/wall</url-pattern>
  	<url-pattern>/shortcontent</url-pattern>
  	<url-pattern>/comment</url-pattern>
  	<url-pattern>/message</url-pattern>
  	  	<url-pattern>/mailbox</url-pattern>
  </filter-mapping>
  
 <!-- ********************MAPPING FILTER SEARCH FOLLOWER************* -->
  <filter-mapping>
  	<filter-name>FollowersFilter</filter-name>
  	<url-pattern>/people</url-pattern>
  	<url-pattern>/movie</url-pattern>
  	<url-pattern>/user</url-pattern>
  	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>NbrMessage</filter-name>
  	<url-pattern>/NbrMessage</url-pattern>
  </filter-mapping>
  <servlet>
  	<description>
  	</description>
  	<display-name>MailBoxServlet</display-name>
  	<servlet-name>MailBoxServlet</servlet-name>
  	<servlet-class>fr.dawan.reseauSoc.message.MailBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MailBoxServlet</servlet-name>
  	<url-pattern>/mailbox</url-pattern>
  </servlet-mapping>

 <!-- ********************WELCOME FILE******************************* -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>